.Offer-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: calc(100% - 250px);
  overflow: auto;
  padding-top: 6px;
}
.Offers-grid::-webkit-scrollbar,
.Offer-list::-webkit-scrollbar {
  width: 8px;
}
.Offers-grid::-webkit-scrollbar-thumb,
.Offer-list::-webkit-scrollbar-thumb {
  background-color: var(--black);
  border-radius: 10px;
}

.Offer-color-Ruby,
.Offer-color-Java,
.Offer-color-Python,
.Offer-color-PHP,
.Offer-color-C,
.Offer-color-Angular,
.Offer-color-NodeJS {
  width: 93%;
  height: 88px;
  background-color: #fdff00;
  border: 1px solid var(--black);
  border-radius: 10px;
  margin: 0 0 12px 58px;
}

.Grid-offer-color-Ruby,
.Grid-offer-color-Java,
.Grid-offer-color-Python,
.Grid-offer-color-PHP,
.Grid-offer-color-C,
.Grid-offer-color-Angular,
.Grid-offer-color-NodeJS {
  max-width: 279px;
  height: 322px;
  background-color: #fdff00;
  border: 1px solid var(--black);
  border-radius: 10px;
}

.Grid-offer-color-Ruby,
.Grid-offer-color-Angular,
.Offer-color-Ruby,
.Offer-color-Angular {
  background-color: #a621a3;
}

.Offer-color-C,
.Grid-offer-color-C {
  background-color: #00ff93;
}

.Grid-offer-color-Java,
.Grid-offer-color-PHP,
.Grid-offer-color-NodeJS,
.Offer-color-Java,
.Offer-color-PHP,
.Offer-color-NodeJS {
  background-color: #ff8227;
}

.Offer-content {
  display: flex;
  width: calc(100% + 2px);
  height: 94px;
  transform: translate(6px, -7px);
  transition: 0.5s;
  background-color: #ffffff;
  border: 1px solid var(--black);
  border-radius: 10px;
}

.Offer-content:hover {
  transform: translate(-1px, -1px);
  transition: 0.5s;
}
.Logo {
  width: 70px;
  height: 70px;
  margin: 12px 32px 12px 20px;
}
.Logo svg {
  width: 100%;
  height: 100%;
  fill: var(--black);
}
.Offer-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 20px 22px 0;
}
.Left-side-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Title {
  font-size: 16px;
  font-weight: 700;
}
.Title svg {
  margin-left: 16px;
  transform: translateY(4px);
}

.Location {
  display: flex;
  font-size: 12px;
}
.Location div:first-of-type {
  margin-right: 16px;
}
.Location div:nth-of-type(3) {
  display: flex;
  margin: 0 8px 0 9px;
}
.Location div:nth-of-type(3) svg {
  stroke: #8a9199;
  width: 12px;
  height: 14px;
  margin-top: 2px;
}
.Location div:nth-of-type(5) {
  color: var(--violet);
  font-weight: 700;
  margin-left: 8px;
}

.Divider {
  transform: translateY(2px);
  height: 15px;
  border-right: 1px solid #8a9199;
}
.Details-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 161px;
  height: 40px;
  border: 2px solid var(--black);
  border-radius: 10px;
  margin: 27px 20px 0 0;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.Details-button:hover {
  border-color: var(--violet);
}
.Right-site-info {
  display: flex;
  flex-direction: column;
  align-items: self-end;
}
.Salary {
  min-width: 100%;
  min-height: 20px;
  font-size: 16px;
  font-weight: 700;
  color: var(--violet);
}
.Technology {
  height: 23px;
  width: fit-content;
  font-size: 12px;
  background-color: #f9f9fc;
  border-radius: 6px;
  margin-top: 12px;
}

/* Grid view styles */

.Grid-offers-container {
  width: 100%;
  height: calc(100% - 265px);
  display: flex;
  justify-content: center;
}

.Offers-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 36px;
  row-gap: 20px;
  overflow: auto;
  padding-top: 8px;
  padding-right: 20px;
}

.Grid-offer-content {
  box-sizing: border-box;
  height: 328px;
  width: 291px;
  transform: translate(4px, -5px);
  transition: 0.5s;
  background-color: #ffffff;
  border: 1px solid var(--black);
  border-radius: 10px;
  padding: 29px 20px 32px 20px;
}
.Grid-offer-content:hover,
.Offer-content:hover {
  transform: translate(-1px, -3px);
  transition: 0.5s;
}

.Grid-remote {
  display: flex;
  justify-content: end;
  width: 100%;
  height: 24px;
  margin-bottom: 24px;
}
.Logo-grid {
  width: 70px;
  height: 70px;
  min-width: 70px;
  min-height: 70px;
}
.Logo-grid svg {
  width: 100%;
  height: 100%;
  fill: var(--black);
}

.Grid-position {
  display: flex;
  width: 100%;
}

.Grid-position-name {
  display: flex;
  flex-direction: column;
  margin-left: 18px;
}
.Grid-position-name div:first-of-type {
  font-weight: 700;
  margin-bottom: 8px;
}
.Grid-position-name div:nth-of-type(2) {
  font-size: 12px;
}
.Grid-salary {
  min-width: 100%;
  min-height: 20px;
  font-size: 16px;
  font-weight: 700;
  color: var(--violet);
  margin-top: 30px;
}
.Grid-offer-info {
  display: flex;
  font-size: 12px;
  margin-top: 20px;
}

.Grid-offer-info div:first-of-type {
  transform: translateY(-1px);
  margin-right: 8px;
}
.Grid-offer-info div:last-of-type {
  color: var(--violet);
  font-weight: 700;
  margin-left: 8px;
}

.Grid-offer-info svg {
  stroke: #8a9199;
  width: 12px;
  height: 14px;
}
.Grid-details-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 36px;
  border: 2px solid var(--black);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 30px;
}
