:root {
  --white: #ffffff;
  --black: #222426;
}

.Position-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  height: 78px;
  border-radius: 10px;
  background-color: var(--black);
  margin-top: 20px 0 0 53px;
  padding-left: 24px;
}

.Position-tabs {
  display: flex;
}
.Color-Analytics,
.Color-Game,
.Color-DevOps,
.Color-Testing,
.Color-Support {
  width: 136px;
  height: 37px;
  margin-right: 16px;
  border: 1px solid var(--white);
  border-radius: 10px;
}
.Color-Analytics {
  background-color: #a621a3;
}
.Color-Game {
  background-color: #00ff93;
}
.Color-DevOps {
  background-color: #ff8227;
}
.Color-Testing {
  background-color: #fd4dc7;
}
.Color-Support {
  background-color: #fdff00;
}

.Position-tab {
  background-color: var(--black);
  transform: translate(4px, -1.5px);
  transition: 0.3s;
}
.Position-tab:hover {
  transform: translate(-0.5px, -1px);
  transition: 0.3s;
}

.Position-tab,
.Game,
.Analytics,
.DevOps,
.Testing,
.Support {
  width: 136px;
  height: 38px;
  border: 1px solid var(--white);
  border-radius: 10px;
  margin-right: 16px;
  color: var(--white);
  cursor: pointer;
}
.Position-box {
  display: flex;
  justify-content: start;
}

.Position-box svg {
  width: 24px;
  height: 24px;
  margin: 7px 0 0 20px;
  stroke: var(--white);
}
.Position-box span {
  margin: 10px 0 0 10px;
  font-size: 14px;
  user-select: none;
}

.Game,
.Analytics,
.DevOps,
.Support,
.Testing {
  transform: translate(-0.5px, -1px);
  color: var(--black);
}
.Analytics svg,
.Game svg,
.DevOps svg,
.Support svg,
.Testing svg {
  stroke: var(--black);
}

.Analytics {
  background-color: #a621a3;
}

.DevOps {
  background-color: #ff8227;
}

.Support {
  background-color: #fdff00;
}

.Testing {
  background-color: #fd4dc7;
}

.Game {
  background-color: #00ff93;
}
.Seniority-container {
  width: 159px;
  margin-right: 20px;
}

.Seniority-button,
.Seniority-button-open {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 40px;
  box-sizing: border-box;
  width: 159px;
  height: 40px;
  border: 1px solid var(--white);
  border-radius: 10px;
  background-color: var(--black);
  color: var(--white);
  margin-right: 20px;
  padding-right: 4px;
  cursor: pointer;
  z-index: 2;
}
.Seniority-button:hover,
.Seniority-button-open {
  border-color: #490df4;
}

.Seniority-button span,
.Seniority-button-open span {
  margin: 0 0 1px 16px;
  font-size: 14px;
}
.Seniority-button > svg {
  width: 30px;
  height: 30px;
}
.Seniority-button-open > svg {
  transform: rotate(180deg);
  width: 30px;
  height: 30px;
}

.Seniority-button svg rect,
.Seniority-button-open svg rect,
.Seniority-button svg svg path,
.Seniority-button-open svg svg path {
  stroke: var(--white);
}

.Seniority-options {
  position: absolute;
  transition: 0.4s;
  box-sizing: border-box;
  width: 161px;
  height: fit-content;
  border: 1px solid #490df4;
  border-radius: 10px;
  background-color: var(--black);
  z-index: 1;
  padding: 25px 0 5px 0;
}

.Seniority-option,
.Seniority-option-active {
  width: 100%;
  height: 38px;
  background-color: var(--black);
  color: var(--white);
  border: none;
  text-align: start;
  padding-left: 14px;
}

.Seniority-option:hover,
.Seniority-option-active {
  background-color: #000000;
}
